body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.scroll {
  overflow-x: scroll;
}

a {
  color: #eb0450;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  background-color: black;
  height: 100px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 18px;
  padding-top: 40px;
  padding-left: 140px;
  background-image: url("./images/NETPIXlogo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 20px 0;
}

form {
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.cardDetail-button {
  background-color: #eb0450;
  color: white;
  padding: 14px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
}

.landing-page {
  display: block;
  height: 100vh;
  padding: 300px 20px;
  background: url("./images/theater.jpg");
  background-size: contain;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: rgb(221, 205, 205);
  font-size: 30px;
}

.homepage {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 10px;
}

.row {
  display: block;
  padding: 0 50px;
}

.row-text {
  background-color: black;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: rgb(221, 205, 205);
  padding-left: 25px;
  font-size: 25px;
}

.card:hover {
  height: 420px;
  transform: scale(2);
  -webkit-transform: scale(2);
}

/* .row:hover .card {
  transform: translateX(-25%);
} */

/* .card:hover ~ .card {
  transform: translateX(100%);
} */

.card {
  display: auto;
  background-size: contain;
  background-repeat: no-repeat;
  height: 210px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: rgb(221, 205, 205);
  font-size: 20px;
  font-weight: bold;
  text-indent: 10px;
  padding-top: 15px;
  transition: 1s transform;
  -webkit-transition: 1s -webkit-transform;
  transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
  backface-visibility: hidden;
}

.card-details {
  font-size: 10px;
  color: rgb(221, 205, 205);
  padding-left: 15px;
  padding-right: 15px;
}

.contents {
  font-size: 20px;
  color: rgb(221, 205, 205);
  margin-left: 50px;
}

.hilight {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: rgb(221, 205, 205);
  font-size: 30px;
  font-weight: bold;
}

.hilight .video-responsive {
  overflow: hidden;
  position: absolute;
  height: 0;
}

.hilight .video-responsive iframe {
  display: block;
  margin: auto;
  left: 0;
  top: 0;
  height: 70%;
  width: 70%;
  position: absolute;
}

.login-form {
  background-color: black;
  text-align: center;
}

.background-image {
  max-width: 100%;
  height: auto;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 98%;
  position: absolute;
}
